@model SZ.AutoClassics.Aplicacao.ViewModels.AnuncioViewModel

<h2 style="margin-bottom: 40px">Novo Anúncio</h2>

<form enctype="multipart/form-data" asp-action="CriarAnuncio">
	<div asp-validation-summary="All" class="text-danger"></div>

	<input type="hidden" asp-for="UsuarioId"/>
	<partial name="_Form" />

	<div class="form-group" style="padding-top: 30px">
		<input type="submit" value="Adicionar" class="btn btn-primary" />
		<a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
	</div>
</form>
