﻿@using Microsoft.AspNetCore.Identity
@using SZ.AutoClassics.Dominio.Models;
@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
	<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fa-solid fa-circle-user"></i> @User.Identity.Name &nbsp;
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="MeuPerfil">Meu perfil</a>
			<a class="dropdown-item" asp-area="" asp-controller="Anuncio" asp-action="CriarAnuncio">Novo Anúncio</a>
			<a class="dropdown-item" asp-area="" asp-controller="Anuncio" asp-action="MeusAnuncios">Meus Anúncios</a>
			<a class="dropdown-item" asp-area="" asp-controller="AnuncioSalvo" asp-action="AnunciosSalvos">Anúncios Salvos</a>
			@if (User.IsInRole("Admin"))
			{
				<a class="dropdown-item" asp-area="Admin" asp-controller="Admin" asp-action="Index">Área Admin</a>
			}
			<hr>
			<a class="dropdown-item">
				<form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" method="post" class="navbar-left">
					<button type="submit" style="width:auto" class="dropdown-item-text">
						Sair
					</button>
				</form>
			</a>
		</div>
	</div>
}
else
{
	<a class="nav-link text-light btn" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@string.Format("{0}{1}", Context.Request.Path, Context.Request.QueryString)" style="color: white">&nbsp; Login &nbsp;</a>
	<a class="nav-link text-light btn" asp-controller="Account" asp-action="Register" style="color: white">&nbsp;Registro&nbsp;&nbsp;</a>
}